<div class="footer">
    <div class="logo">
        <img alt="AMS News Logo" src="images/MainLogo.png" />
        <div class="copyright">
            © 2020 | AMS NEWS
        </div>
    </div>
    <div class="nav">
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Careers</a>
        <a href="#">Coupons</a>
    </div>
    <div class="subscribe">
        <div class="title">
            Se inscreva na AMS News!
        </div>
        <input id="email" placeholder="Insira seu Email" type="email" aria-label="Insira seu Email" />
        <button>
            Se inscrever
        </button>
    </div>
</div>
